div.of_scrollable {
	width: 250px;
	height: 130px;
	overflow: auto;
	float: left;
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
}

#of_search_dialog label {
	margin: 5px 3px 5px 3px;
	height: 16px;
}

#of_search_dialog fieldset {
	margin: 5px 0 5px 0;
}

#of_search_dialog fieldset p {
	margin: 0;
}

#of_search_dialog input[type="radio"] {
	margin: 5px 3px 5px 3px;
}

table#openflags {
	padding-left: 0;
	border-spacing: 0;
}

table#openflags tr {
	padding-left: 0;
}

table#openflags td.first {
	padding-left: 0;
}

table#openflags td img.openflags_edit {
	color: #525252;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-o-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-webkit-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-moz-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
}

table#openflags td img.openflags_edit:hover {
	border-color: inherit;
}

td#rcmopenflags {
	width: 80px;
}

td.openflags {
	width: 80px;
}

div.td_openflags {
	float: left;
	width: 20px;
}

div#openflags_dialog {
	display: none;
}

td.openflags{
	/*position: absolute;*/
}

td.openflags ul{
	position: absolute;
}

td.openflags ul li{
	position: relative;
}

td.openflags ul:after {
		content: ""; 
		clear: both; 
		display: block;
}

td.openflags ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
}

td.openflags ul li:hover > ul {
		display: block;
}

td.openflags ul ul li {
		top: 0;
		position: relative;
}

ul.openflags_popup{
	display: none;
	list-style-type: none;
	color: black;
	padding: 2px;
	position: absolute;
	background-color: #fafffa;
	border: solid #bbd3da 1px;
}

 ul.copy_move_list {
	list-style-type: none;
	padding:0;
	color: black;
	position: absolute;
	background-color: #fafffa;
	border: solid #bbd3da 1px;
}

ul.openflags_popup li{
	padding: 2px;
	cursor: pointer;
	cursor: hand;
}

ul.openflags_popup li.has_children{
	list-style-type: square;
	list-style-position: inside;
	cursor: pointer;
	cursor: hand;
}

ul.openflags_popup li.has_children:hover{
	background-color: #019bc6;
}

ul.openflags_popup li.action:hover{
	background-color: #019bc6;
}


form#inner_openflags_dialoginfo p {
	margin: 0;
}
#extendedsearchform {
	position: absolute;
	right: 270px;
	top: 2px;
	height: 24px;
	width: 40px;
	background-color: red;
}

#quicksearchbar #extendedsearchform #extendedsearch {
	width: 40px;
	height: 20px;
}

p.narrow {
	margin-bottom: 2px;
	margin-top: 2px;
}

#mailview-right #messagesearchtools{
	right: 50px;
}
